<!DOCTYPE html>
<html>
<head>
	<title>To do List</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<style>
		.container {
			max-width: 960px;
			margin: 0 auto;
		}
		h1 {
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container">
			<h1>Todo List</h1>
		
			<div v-if="!isEditing">
				<input type="text" v-model="todo">
				<input type="submit" value="add" @click="storeTodo" class="btn btn-success">
			</div>

			<div v-else>
				<input type="text" v-model="todo">
				<input type="submit" value="update" @click="updateTodo" class="btn btn-success">
			</div>
			<br>
			<ol>
				<li v-for="(todo, index) in todos">
					{{ todo }}

					<button @click="editTodo(index, todo)" class="btn btn-warning">Edit</button>
					<button @click="deleteTodo(index)" class="btn btn-danger">Delete</button>
				</li>
			
			</ol>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

	<script>
		new Vue({
			el: '#app',

			data:{
				isEditing: false,
				selectedIndex: null,
				todo: '',
				todos: ['prepare breakfast', 'read a vuejs book']
			},

			methods:{
				storeTodo(){
					this.todos.push(this.todo)
					this.todo = ''
				},

				editTodo(index, todo){
					this.todo = todo
					this.selectedIndex = index
					this.isEditing = true
				},

				updateTodo(){
					this.todos.splice(this.selectedIndex, 1, this.todo)
					this.todo = ''
					this.isEditing = false
				},

				deleteTodo(index){
					this.todos.splice(index,1)
				}
			}
		})
	</script>

</body>
</html>
